* {
    main-bg:    			#0e1e22e6;
    main-fg:    			#c2c6c7ff;
    main-br:            #153846ff;
    select-urgent-bg:   #722126ff;
    select-bg:          #153846ff;
    select-fg:          #0e1e22e6;
    separatorcolor:     transparent;
    border-color:       transparent;
	 search-field:			#c2c6c70f;
	 urgent:					#153846ff;
}
