* {
    main-bg:    			#111e21e6;
    main-fg:    			#c3c6c7ff;
    main-br:            #757348ff;
    select-urgent-bg:   #497b71ff;
    select-bg:          #757348ff;
    select-fg:          #111e21e6;
    separatorcolor:     transparent;
    border-color:       transparent;
	 search-field:			#c3c6c70f;
	 urgent:					#757348ff;
}
