$bar-bg: rgba(30, 30, 46, 0);
$main-bg: rgba(17, 30, 33, 0.8);
$main-fg: rgba(195, 198, 199, 1);
$wb-act-bg: rgba(195, 198, 199, 0.9);
$wb-act-fg: rgba(0, 0, 0, 0.7);
$wb-hvr-bg: rgba(94, 111, 115, 0.4);
$wb-hvr-fg: rgba(195, 198, 199, 0.8);
$color1: rgba(117, 115, 72, 1);
