$bar-bg: rgba(30, 30, 46, 0);
$main-bg: rgba(14, 30, 34, 0.8);
$main-fg: rgba(194, 198, 199, 1);
$wb-act-bg: rgba(194, 198, 199, 0.9);
$wb-act-fg: rgba(0, 0, 0, 0.7);
$wb-hvr-bg: rgba(94, 110, 114, 0.4);
$wb-hvr-fg: rgba(194, 198, 199, 0.8);
$color1: rgba(21, 56, 70, 1);
