$bar-bg: rgba(30, 30, 46, 0);
$main-bg: rgba(30, 30, 46, 0.8);
$main-fg: rgba(180, 190, 254, 1);
$wb-act-bg: rgba(180, 190, 254, 0.9);
$wb-act-fg: rgba(0, 0, 0, 0.7);
$wb-hvr-bg: rgba(75, 75, 125, 0.4);
$wb-hvr-fg: rgba(174, 170, 240, 0.8);
